<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ul class="sidebar-menu tree" data-widget="tree">
        <li>
            <p:link outcome="/index.jsf" onclick="clearBreadCrumbs()">
                <i class="fa fa-home"></i>
                <span>Home</span>
            </p:link>
        </li>
        <li class="header">
            General
        </li>
        <li>
            <p:link outcome="/course-list.jsf">
                <i class="fa fa-graduation-cap"></i>
                <span>Cours</span>
            </p:link>
        </li>
        <li>
            <p:link outcome="/session-list.jsf">
                <i class="fa fa-calendar"></i>
                <span>Sessions</span>
            </p:link>
        </li>
        <li>
            <p:link outcome="/city-list.jsf">
                <i class="fa fa-map-marker"></i>
                <span>Villes</span>
            </p:link>
        </li>
        <li>
            <p:link outcome="/client-list.jsf">
                <i class="fa fa-user"></i>
                <span>Clients</span>
            </p:link>
        </li>
    </ul>

</ui:composition>