<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="title">
        Formulaire Client
    </ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:viewParam name="id" value="#{clientFormMB.id}" converter="javax.faces.Long"/>
            <!-- use view action if you are in a Java EE 7 server: <f:viewAction action="#{clientFormMB.init()}"/>-->
            <f:event type="preRenderView" listener="#{clientFormMB.init}"/>
        </f:metadata>

        <adm:breadcrumb title="#{empty clientFormMB.id ? 'Nouveau Client' : 'Client '.concat(clientFormMB.id)}" link="client-form.xhtml?id=#{clientFormMB.id}"/>
        <h:form id="form" prependId="false">
            <p:focus rendered="#{empty clientFormMB.id}"/>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton value="Save" action="#{clientFormMB.save}" update="@form"
                                         icon="fa fa-check" styleClass="btn-primary"/>
                        <p:spacer width="5" rendered="#{clientFormMB.isNew()}"/>
                        <p:commandButton value="Clear" action="#{clientFormMB.clear}" process="@this"
                                         icon="fa fa-refresh" styleClass="btn-success"
                                         update="@form" rendered="#{clientFormMB.isNew()}" resetValues="true"/>
                        <p:spacer width="5" rendered="#{not clientFormMB.isNew()}"/>

                        <p:commandButton value="Delete" action="#{clientFormMB.remove}" process="@this"
                                         rendered="#{not clientFormMB.isNew()}" icon="fa fa-trash"
                                         styleClass="btn-danger">
                            <f:setPropertyActionListener value="true"
                                                         target="#{facesContext.externalContext.flash.keepMessages}"/>
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:commandButton>
                        <p:spacer width="5"/>
                        <p:commandButton value="Back" immediate="true"
                                         action="client-list?faces-redirect=true"
                                         process="@this"
                                         icon="fa fa-reply"/>
                    </div>
                    <p:splitButton value="Save" action="#{clientFormMB.save}" update="@form"
                                   icon="fa fa-check"
                                   styleClass="hidden-md hidden-lg btn-primary">
                        <p:menuitem value="Reset" action="#{clientFormMB.clear}"
                                    process="@this" update="@form" rendered="#{clientFormMB.isNew()}"
                                    resetValues="true" icon="fa fa-refresh"/>
                        <p:menuitem value="Delete" action="#{clientFormMB.remove}" process="@this"
                                    rendered="#{not clientFormMB.isNew()}" icon="fa fa-trash"
                                 >
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:menuitem>
                        <p:separator/>
                        <p:menuitem value="Back" action="client-list?faces-redirect=true"
                                    process="@this" immediate="true"
                                    icon="fa fa-reply"/>
                    </p:splitButton>

                    <p:separator/>

                    <div class="ui-g ui-fluid">
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel for="id" value="ID"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="id" value="#{clientFormMB.client.id}" size="4"
                                         readonly="true" styleClass="form-control" style="width: 100%"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Prénom" for="inputModelFirstname"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="inputModelFirstname" value="#{clientFormMB.client.firstname}" required="true"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Nom" for="inputModelLastname"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="inputModelLastname" value="#{clientFormMB.client.lastname}" required="true"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Téléphone" for="inputModelPhone"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="inputModelPhone" value="#{clientFormMB.client.phone}" required="true"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Email" for="inputModelEmail"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="inputModelEmail" value="#{clientFormMB.client.email}" required="true"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Adresse" for="inputModelAddress"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="inputModelAddress" value="#{clientFormMB.client.address}" required="true"/>
                        </div>
                    </div>
                </div>
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


    </ui:define>

</ui:composition>
