<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">

    <ui:define name="title">
        Formulaire Cours
    </ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:viewParam name="id" value="#{courseFormMB.id}" converter="javax.faces.Long"/>
            <!-- use view action if you are in a Java EE 7 server: <f:viewAction action="#{courseFormMB.init()}"/>-->
            <f:event type="preRenderView" listener="#{courseFormMB.init}"/>
        </f:metadata>

        <adm:breadcrumb title="#{empty courseFormMB.id ? 'Nouveau Cours' : 'Cours '.concat(courseFormMB.id)}" link="course-form.xhtml?id=#{courseFormMB.id}"/>
        <h:form id="form" prependId="false">
            <p:focus rendered="#{empty courseFormMB.id}"/>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton value="Save" action="#{courseFormMB.save}" update="@form"
                                         icon="fa fa-check" styleClass="btn-primary"/>
                        <p:spacer width="5" rendered="#{courseFormMB.isNew()}"/>
                        <p:commandButton value="Clear" action="#{courseFormMB.clear}" process="@this"
                                         icon="fa fa-refresh" styleClass="btn-success"
                                         update="@form" rendered="#{courseFormMB.isNew()}" resetValues="true"/>
                        <p:spacer width="5" rendered="#{not courseFormMB.isNew()}"/>

                        <p:commandButton value="Delete" action="#{courseFormMB.remove}" process="@this"
                                         rendered="#{not courseFormMB.isNew()}" icon="fa fa-trash"
                                         styleClass="btn-danger">
                            <f:setPropertyActionListener value="true"
                                                         target="#{facesContext.externalContext.flash.keepMessages}"/>
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:commandButton>
                        <p:spacer width="5"/>
                        <p:commandButton value="Back" immediate="true"
                                         action="course-list?faces-redirect=true"
                                         process="@this"
                                         icon="fa fa-reply"/>
                    </div>
                    <p:splitButton value="Save" action="#{courseFormMB.save}" update="@form"
                                   icon="fa fa-check"
                                   styleClass="hidden-md hidden-lg btn-primary">
                        <p:menuitem value="Reset" action="#{courseFormMB.clear}"
                                    process="@this" update="@form" rendered="#{courseFormMB.isNew()}"
                                    resetValues="true" icon="fa fa-refresh"/>
                        <p:menuitem value="Delete" action="#{courseFormMB.remove}" process="@this"
                                    rendered="#{not courseFormMB.isNew()}" icon="fa fa-trash"
                                 >
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:menuitem>
                        <p:separator/>
                        <p:menuitem value="Back" action="course-list?faces-redirect=true"
                                    process="@this" immediate="true"
                                    icon="fa fa-reply"/>
                    </p:splitButton>

                    <p:separator/>

                    <div class="ui-g ui-fluid">
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel for="id" value="ID"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="id" value="#{courseFormMB.course.id}" size="4"
                                       readonly="true" styleClass="form-control" style="width: 100%"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel for="code" value="Code"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="code" value="#{courseFormMB.course.code}" size="4"
                                        styleClass="form-control" style="width: 100%" required="true"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Intitulé" for="inptModel"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="inptModel" value="#{courseFormMB.course.title}" required="true"/>
                        </div>
                    </div>
                </div>
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


    </ui:define>

</ui:composition>
