<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">
    
    <ui:define name="metadata">
        <ui:param name="title" value="Liste des cours"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }

        </style>
    </ui:define>
    
    <ui:define name="description">
        Trouver un cours à l'aide de son code ou de son intitulé
    </ui:define>

    <ui:define name="body">
        <h:form>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton action="/course-form?faces-redirect=true" icon="fa fa-plus"
                                         value="New" styleClass="btn-primary"/>
                        
                    </div>

                    <p:splitButton value="New" action="/course-form?faces-redirect=true"
                                   icon="fa fa-plus"
                                   styleClass="hidden-md hidden-lg btn-primary">
                    </p:splitButton>

                    <p:separator/>
                    <p:dataTable var="c" value="#{courseListMB.courses}" 
                                 widgetVar="sessionsTable"
                                 emptyMessage="Aucun cours" 
                                 filteredValue="#{courseListMB.filteredValue}"
                                 rows="5"
                                
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
                                 currentPageReportTemplate="[ {startRecord} to {endRecord} of {totalRecords} ]"
                                 rowsPerPageTemplate="5,10,15,20,30"
                                 >

                        <p:column width="5%" headerText="ID" filterBy="#{c.code}" sortBy="#{c.code}"
                                  filterMatchMode="contains">
                            <p:link value="#{c.code}" outcome="/course-form.xhtml" >
                                <f:param name="id" value="#{c.id}"/>
                            </p:link>

                        </p:column>
                        <p:column headerText="Intitulé" sortBy="#{c.title}" filterBy="#{c.title}" filterMatchMode="contains">
                            <h:outputText value="#{c.title}" />
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>

    </ui:define>

</ui:composition>
