<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="#{layoutMB.template}"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="head-end">
        <ui:param name="renderBreadCrumb" value="false"/>
    </ui:define>
    
        <ui:define name="metadata">
        <ui:param name="title" value="Home"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }

        </style>
        <script type="text/javascript">    
            PrimeFaces.locales['fr'] = {
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Jan', 'Fev', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                dayNamesMin: ['D', 'L', 'M', 'M ', 'J', 'V ', 'S'],
                weekHeader: 'Semaine',
                FirstDay: 2,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Heure',
                timeText: 'Temps',
                hourText: 'Heure',
                minuteText: 'Minute',
                secondText: 'Seconde',
                currentText: 'Date actuelle',
                ampm: false,
                month: 'Mois',
                week: 'Semaine',
                day: 'Jour',
                allDayText: 'Tous les jours'
            };
        </script>
    </ui:define>
    
    <ui:define name="body">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-12 ui-lg-5">
                <h:form id="mySessions">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2>Mes sessions à venir</h2>
                            <p:separator/>
                            <p:dataTable var="s" value="#{clientSessionMB.clientSesions}" 
                                         widgetVar="clientSessionsTable"
                                         emptyMessage="Aucune session" 
                                         filteredValue="#{clientSessionMB.filteredValue}"
                                         rows="5"
                                         paginator="true"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
                                         currentPageReportTemplate="[ {startRecord} to {endRecord} of {totalRecords} ]"
                                         rowsPerPageTemplate="5,10,15,20,30"
                                         id="datatableSessions"
                                         >
                                
                                <p:column headerText="Intitulé" sortBy="#{s.sessionId.courseCode.title}" filterBy="#{s.sessionId.courseCode.title}" filterMatchMode="contains">
                                    <h:outputText value="#{s.sessionId.courseCode.title}" />
                                </p:column>
                                <p:column headerText="Localisation" sortBy="#{s.sessionId.locationId.city}" filterBy="#{s.sessionId.locationId.city}" filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('clientSessionsTable').filter()" styleClass="custom-filter">
                                            <f:selectItem itemLabel="Choisir une ville" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems value="#{locationListMB.locations}" />
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{s.sessionId.locationId.city}" />
                                </p:column>
                                <p:column headerText="Date début" sortBy="#{s.sessionId.startDate}" filterFunction="#{clientSessionMB.filterByDate}" filterBy="#{s.sessionId.startDate}" filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:calendar pattern='yyyy-MM-dd' id="calendarStartDate" locale="fr" onchange="PF('clientSessionsTable').filter()" showOn="button">
                                            <p:ajax event="dateSelect" onstart="PF('clientSessionsTable').filter();return false;" global="false" />
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText value="#{s.sessionId.startDate}" />
                                </p:column>
                                <p:column headerText="Date fin" sortBy="#{s.sessionId.endDate}" filterBy="#{s.sessionId.endDate}" filterFunction="#{clientSessionMB.filterByDate}" filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:calendar pattern='yyyy-MM-dd' id="calendarEndDate" locale="fr" onchange="PF('clientSessionsTable').filter()" showOn="button">
                                            <p:ajax event="dateSelect" onstart="PF('clientSessionsTable').filter();return false;" global="false" />
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText value="#{s.sessionId.endDate}" />
                                </p:column>
                                 <p:column headerText="Action">
                                    <p:commandButton class="btn btn-primary" value="Annuler" action="#{clientSessionMB.remove(s)}"></p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                        <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                         icon="fa fa-check"/>
                        <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                         icon="fa fa-close"/>
                    </p:confirmDialog>
                </h:form>
            </div>
            <div class="ui-g-12 ui-md-12 ui-lg-7">
                <h:form>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h2>Sessions prochaines</h2>
                            <p:separator/>
                            <p:dataTable var="s" value="#{courseSessionMB.coursesSessionsUpcoming}" 
                                         widgetVar="sessionsTable"
                                         emptyMessage="Aucune session" 
                                         filteredValue="#{courseSessionMB.filteredValue}"
                                         rows="5"
                                         paginator="true"
                                         sortBy="#{s.startDate}"
                                         paginatorPosition="bottom"
                                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
                                         currentPageReportTemplate="[ {startRecord} to {endRecord} of {totalRecords} ]"
                                         rowsPerPageTemplate="5,10,15,20,30"
                                         >
                                <p:column headerText="Intitulé" sortBy="#{s.courseCode.title}" filterBy="#{s.courseCode.title}" filterMatchMode="contains">
                                    <h:outputText value="#{s.courseCode.title}" />
                                </p:column>
                                <p:column headerText="Localisation" sortBy="#{s.locationId.city}" filterBy="#{s.locationId.city}" filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('sessionsTable').filter()" styleClass="custom-filter">
                                            <f:selectItem itemLabel="Choisir une ville" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItems value="#{locationListMB.locations}" />
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{s.locationId.city}" />
                                </p:column>
                                <p:column headerText="Date début" sortBy="#{s.startDate}" filterFunction="#{courseSessionMB.filterByDate}" filterBy="#{s.startDate}" filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:calendar pattern='yyyy-MM-dd' id="calendarStartDate" locale="fr" onchange="PF('sessionsTable').filter()" showOn="button">
                                            <p:ajax event="dateSelect" onstart="PF('sessionsTable').filter();return false;" global="false" />
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText value="#{s.startDate}" />
                                </p:column>
                                <p:column headerText="Date fin" sortBy="#{s.endDate}" filterBy="#{s.endDate}" filterFunction="#{courseSessionMB.filterByDate}" filterMatchMode="contains">
                                    <f:facet name="filter">
                                        <p:calendar pattern='yyyy-MM-dd' id="calendarEndDate" locale="fr" onchange="PF('sessionsTable').filter()" showOn="button">
                                            <p:ajax event="dateSelect" onstart="PF('sessionsTable').filter();return false;" global="false" />
                                        </p:calendar>
                                    </f:facet>
                                    <h:outputText value="#{s.endDate}" />
                                </p:column>
                                <p:column headerText="Places restantes" sortBy="#{s.max - s.clientSessionList.size()}" filterBy="#{s.max - s.clientSessionList.size()}" filterMatchMode="contains">
                                    <h:outputText value="#{s.max - s.clientSessionList.size()}" />
                                </p:column>
                                <p:column headerText="Action">
                                    <p:commandButton disabled="#{!((s.max - s.clientSessionList.size()) > 0)}" class="btn btn-primary" value="S'inscrire" action="#{clientSessionMB.add(s)}"></p:commandButton>
                                </p:column>
                            </p:dataTable>
                        </div>
                    </div>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                        <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                         icon="fa fa-check"/>
                        <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                         icon="fa fa-close"/>
                    </p:confirmDialog>
                </h:form>
            </div>
        </div>
        
    </ui:define>

    
</ui:composition>
