<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">
    
    <ui:define name="metadata">
        <ui:param name="title" value="Liste des sessions"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }

        </style>
        <script type="text/javascript">    
            PrimeFaces.locales['fr'] = {
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Jan', 'Fev', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                dayNamesMin: ['D', 'L', 'M', 'M ', 'J', 'V ', 'S'],
                weekHeader: 'Semaine',
                FirstDay: 2,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Heure',
                timeText: 'Temps',
                hourText: 'Heure',
                minuteText: 'Minute',
                secondText: 'Seconde',
                currentText: 'Date actuelle',
                ampm: false,
                month: 'Mois',
                week: 'Semaine',
                day: 'Jour',
                allDayText: 'Tous les jours'
            };
        </script>
    </ui:define>
    
    <ui:define name="description">
        Trouver une sessions à l'aide de son nom, sa localisation ou sa date
    </ui:define>

    <ui:define name="body">
        <h:form>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton action="/session-form?faces-redirect=true" icon="fa fa-plus"
                                         value="New" styleClass="btn-primary"/>
                        
                    </div>

                    <p:splitButton value="New" action="/session-form?faces-redirect=true"
                                   icon="fa fa-plus"
                                   styleClass="hidden-md hidden-lg btn-primary">
                    </p:splitButton>

                    <p:separator/>
                    <p:dataTable var="s" value="#{courseSessionMB.coursesSessions}" 
                                 widgetVar="sessionsTable"
                                 emptyMessage="Aucune session" 
                                 filteredValue="#{courseSessionMB.filteredValue}"
                                 rows="5"
                                 paginator="true"
                                 paginatorPosition="bottom"
                                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown} {JumpToPageDropdown}"
                                 currentPageReportTemplate="[ {startRecord} to {endRecord} of {totalRecords} ]"
                                 rowsPerPageTemplate="5,10,15,20,30"
                                 >

                        <p:column headerText="ID" width="5%" filterBy="#{s.id}" sortBy="#{s.id}"
                                  filterMatchMode="contains">
                            <p:link value="#{s.id}" outcome="/session-form.xhtml" >
                                <f:param name="id" value="#{s.id}"/>
                            </p:link>

                        </p:column>
                        <p:column headerText="Cours" sortBy="#{s.courseCode.code}" filterBy="#{s.courseCode.code}" filterMatchMode="contains">
                            <h:outputText value="#{s.courseCode.code}" />
                        </p:column>
                        <p:column headerText="Intitulé" sortBy="#{s.courseCode.title}" filterBy="#{s.courseCode.title}" filterMatchMode="contains">
                            <h:outputText value="#{s.courseCode.title}" />
                        </p:column>
                        <p:column headerText="Localisation" sortBy="#{s.locationId.city}" filterBy="#{s.locationId.city}" filterMatchMode="contains">
                            <f:facet name="filter">
                                <p:selectOneMenu onchange="PF('sessionsTable').filter()" styleClass="custom-filter">
                                    <f:selectItem itemLabel="Choisir une ville" itemValue="#{null}" noSelectionOption="true" />
                                    <f:selectItems value="#{locationListMB.locations}" />
                                </p:selectOneMenu>
                            </f:facet>
                            <h:outputText value="#{s.locationId.city}" />
                        </p:column>
                        <p:column headerText="Date début" sortBy="#{s.startDate}" filterFunction="#{courseSessionMB.filterByDate}" filterBy="#{s.startDate}" filterMatchMode="contains">
                            <f:facet name="filter">
                                <p:calendar pattern='yyyy-MM-dd' id="calendarStartDate" locale="fr" onchange="PF('sessionsTable').filter()" showOn="button">
                                    <p:ajax event="dateSelect" onstart="PF('sessionsTable').filter();return false;" global="false" />
                                </p:calendar>
                            </f:facet>
                            <h:outputText value="#{s.startDate}" />
                        </p:column>
                        <p:column headerText="Date fin" sortBy="#{s.endDate}" filterBy="#{s.endDate}" filterFunction="#{courseSessionMB.filterByDate}" filterMatchMode="contains">
                            <f:facet name="filter">
                                <p:calendar pattern='yyyy-MM-dd' id="calendarEndDate" locale="fr" onchange="PF('sessionsTable').filter()" showOn="button">
                                    <p:ajax event="dateSelect" onstart="PF('sessionsTable').filter();return false;" global="false" />
                                </p:calendar>
                            </f:facet>
                            <h:outputText value="#{s.endDate}" />
                        </p:column>
                        <p:column headerText="Inscrits" sortBy="#{s.clientSessionList.size()}" filterBy="#{s.clientSessionList.size()}" filterMatchMode="contains">
                            <h:outputText value="#{s.clientSessionList.size()}" />
                        </p:column>
                        <p:column headerText="Places max" sortBy="#{s.max}" filterBy="#{s.max}" filterMatchMode="contains">
                            <h:outputText value="#{s.max}" />
                        </p:column>
                    </p:dataTable>
                </div>
            </div>
            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>

    </ui:define>

</ui:composition>
