<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui" xmlns:adm="http://github.com/adminfaces"
                template="#{layoutMB.template}">
    
    <ui:define name="metadata">
        <ui:param name="title" value="Liste des sessions"/> <!-- Automatic create breadCrumb and page title when param 'title' is provided. --> 
        <style type="text/css">
            .ui-datatable .ui-datatable-header {
                text-align: right !important;
            }

        </style>
        <script type="text/javascript">    
            PrimeFaces.locales['fr'] = {
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Aout', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Jan', 'Fev', 'Mars', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                dayNamesMin: ['D', 'L', 'M', 'M ', 'J', 'V ', 'S'],
                weekHeader: 'Semaine',
                FirstDay: 2,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                timeOnlyTitle: 'Heure',
                timeText: 'Temps',
                hourText: 'Heure',
                minuteText: 'Minute',
                secondText: 'Seconde',
                currentText: 'Date actuelle',
                ampm: false,
                month: 'Mois',
                week: 'Semaine',
                day: 'Jour',
                allDayText: 'Tous les jours'
            };
        </script>
    </ui:define>

    <ui:define name="title">
        Formulaire Session
    </ui:define>

    <ui:define name="body">
        <f:metadata>
            <f:viewParam name="id" value="#{courseSessionFormMB.id}" converter="javax.faces.Long"/>
            <!-- use view action if you are in a Java EE 7 server: <f:viewAction action="#{courseSessionFormMB.init()}"/>-->
            <f:event type="preRenderView" listener="#{courseSessionFormMB.init}"/>
        </f:metadata>

        <adm:breadcrumb title="#{empty courseSessionFormMB.id ? 'Nouvelle Session' : 'Session '.concat(courseSessionFormMB.id)}" link="session-form.xhtml?id=#{courseSessionFormMB.id}"/>
        <h:form id="form" prependId="false">
            <p:focus rendered="#{empty courseSessionFormMB.id}"/>

            <div class="box box-primary">
                <div class="box-header with-border">
                    <div id="main-buttons" class="hidden-sm hidden-xs">
                        <p:commandButton value="Save" action="#{courseSessionFormMB.save}" update="@form"
                                         icon="fa fa-check" styleClass="btn-primary"/>
                        <p:spacer width="5" rendered="#{courseSessionFormMB.isNew()}"/>
                        <p:commandButton value="Clear" action="#{courseSessionFormMB.clear}" process="@this"
                                         icon="fa fa-refresh" styleClass="btn-success"
                                         update="@form" rendered="#{courseSessionFormMB.isNew()}" resetValues="true"/>
                        <p:spacer width="5" rendered="#{not courseSessionFormMB.isNew()}"/>

                        <p:commandButton value="Delete" action="#{courseSessionFormMB.remove}" process="@this"
                                         rendered="#{not courseSessionFormMB.isNew()}" icon="fa fa-trash"
                                         styleClass="btn-danger">
                            <f:setPropertyActionListener value="true"
                                                         target="#{facesContext.externalContext.flash.keepMessages}"/>
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:commandButton>
                        <p:spacer width="5"/>
                        <p:commandButton value="Back" immediate="true"
                                         action="session-list?faces-redirect=true"
                                         process="@this"
                                         icon="fa fa-reply"/>
                    </div>
                    <p:splitButton value="Save" action="#{courseSessionFormMB.save}" update="@form"
                                   icon="fa fa-check"
                                   styleClass="hidden-md hidden-lg btn-primary">
                        <p:menuitem value="Reset" action="#{courseSessionFormMB.clear}"
                                    process="@this" update="@form" rendered="#{courseSessionFormMB.isNew()}"
                                    resetValues="true" icon="fa fa-refresh"/>
                        <p:menuitem value="Delete" action="#{courseSessionFormMB.remove}" process="@this"
                                    rendered="#{not courseSessionFormMB.isNew()}" icon="fa fa-trash"
                                 >
                            <p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-danger"/>
                        </p:menuitem>
                        <p:separator/>
                        <p:menuitem value="Back" action="session-list?faces-redirect=true"
                                    process="@this" immediate="true"
                                    icon="fa fa-reply"/>
                    </p:splitButton>

                    <p:separator/>

                    <div class="ui-g ui-fluid">
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel for="id" value="ID"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputText id="id" value="#{courseSessionFormMB.courseSession.id}" size="4"
                                       readonly="true" styleClass="form-control" style="width: 100%"/>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Places" for="places"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:inputNumber id="places" minValue="1" value="#{courseSessionFormMB.courseSession.max}" padControl="false" required="true" />  
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel for="cours" value="Cours"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:selectOneMenu converter="omnifaces.SelectItemsConverter" required="true" id="cours" filter="true" value="#{courseSessionFormMB.courseSession.courseCode}" styleClass="custom-filter">
                                <f:selectItems value="#{courseListMB.courses}" />
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Localisation" for="localisation"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:selectOneMenu converter="omnifaces.SelectItemsConverter" required="true" id="localisation" filter="true" value="#{courseSessionFormMB.courseSession.locationId}" styleClass="custom-filter">
                                <f:selectItems value="#{locationListMB.locations}"/>
                            </p:selectOneMenu>
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel for="startDate" value="Date début"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:calendar id="startDate" value="#{courseSessionFormMB.courseSession.startDate}" pattern="yyyy/MM/dd HH:mm:ss" locale="fr" required="true" />
                        </div>
                        <div class="ui-sm-12 ui-md-2 ui-lg-1">
                            <p:outputLabel value="Date fin" for="endDate"/>
                        </div>
                        <div class="ui-sm-12 ui-md-4 ui-lg-5" >
                            <p:calendar id="endDate" value="#{courseSessionFormMB.courseSession.endDate}" pattern="yyyy/MM/dd HH:mm:ss" locale="fr" required="true" />
                        </div>
                    </div>
                </div>
            </div>

            <p:confirmDialog global="true" showEffect="fade" hideEffect="fade" styleClass="box-danger box-solid">
                <p:commandButton value="Yes" type="button" styleClass="btn-material btn-primary ui-confirmdialog-yes"
                                 icon="fa fa-check"/>
                <p:commandButton value="No" type="button" styleClass="btn-material btn-danger ui-confirmdialog-no"
                                 icon="fa fa-close"/>
            </p:confirmDialog>
        </h:form>


    </ui:define>

</ui:composition>
